<!-- main.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Main</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      position: relative;
      font-family: 'philosopher regular';
      height: 100%;
      width: 100%;
      display: flex;
    }

    .textunderline {
      border-bottom-width: 6px;
      inline-size: 60%;
      border-bottom-style: solid;
      border-image: linear-gradient(to right, darkorchid, rgb(13, 207, 229)) 1;
      font-family: 'Lobster';
      font-size: 50px;
      padding-bottom: 30px;
      margin-bottom: 100px;
      margin-top: 200px;
    }


    .left {
      padding-top: 80px;
      padding-left: 50px;
      padding-right: 50px;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40%;
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 50px #2a2a2a34;
      z-index: 50;
    }

    .right {
      float: right;
      width: 50%;
      height: 100%;
      margin-left: 50%;
    }

    .regularbuttonsmall {
      margin-top: 70px;
      border-width: 6px;
      border-style: solid;
      border-image: linear-gradient(-20deg, darkorchid, rgb(8, 186, 205)) 1;
      display: inline-block;
      background-color: transparent;
      padding: 0px 20px;
      font-size: 10px;
      height: 45px;
      font-size: 15px;
      margin-right: 40px;
    }

    .buttons {
      position: absolute;
      top: 0;
      right: 0;
    }

    .album {
      margin-top:70px;
    }
  </style>
</head>

<body>
  <div class="left">
    <div class="buttons">
      <button id="log-out-btn" class="regularbuttonsmall">Log out</button>
      <a href="createalbum-p1"><button class="regularbuttonsmall">Create an album</button></a>
    </div>
    <h1 class="textunderline">Здравейте, <%=name%>
    </h1>
    <p style="font-size: 30px;">Готови ли сте да се потопите в света на спомените, мечтите и детството?</p>
  </div>

  <div class="right">
    <% if (Object.keys(accessibleAlbums).length> 0) { %>
      <% Object.entries(accessibleAlbums).forEach(([albumName, albumDetails])=> { %>
        <div class="album">
          <a href="/viewalbum?albumName=<%= albumName %>" style="text-decoration-color: black">
          <div style="margin-bottom: 25px; height: 400px; width: 90%; overflow: hidden;">
          <img style="width: 100%; height: 100%; object-fit: cover;" src="<%= albumDetails.imageUrl %>" alt="<%= albumName %> cover image"></div>
          <p style="font-family: 'Lobster'; font-size: 35px; color: black; text-decoration: none; margin-bottom: -10px;"> <%= albumDetails.realName %></p></a>
          <p style="font-size: 22px; color: black; text-decoration: none;"> <%= albumDetails.description %></p>
        </div>
        <% }) %>
          <%}%>
          <br><div style="height:70px"></div>
  </div>
  
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
  document.getElementById('log-out-btn').addEventListener('click', () => {
    socket.emit('log-out')
  })
  socket.on('redirect', (url) => {
    window.location.href = url;
  });
</script>
</html>