<!-- showpeople.ejs -->

<!DOCTYPE html>
<html>

<head>
  <title>
    <%= albumName %> - People
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <style>
    
    .secoundDiv {

      border-width: 4px;
      inline-size: 130px;
      border-bottom-style: solid;
      border-top-style: solid;
      border-image: linear-gradient(to right, darkorchid, rgb(13, 229, 204)) 1;
      margin: 12px;

    }

    .firstDiv {
      border-bottom-width: 4px;
      inline-size: 400px;

      border-bottom-style: solid;
      border-image: linear-gradient(to right, darkorchid, rgb(13, 229, 204)) 1;
      margin: 15px 32px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
  </style>
</head>

<body>
  <a href="http://localhost:4000/main"></ahref><button style="margin-top:20px; margin-bottom: 10px; margin-left: 30px; background-color: transparent; border: 0px; color: gray; text-decoration: none; font-size: 15px;">Go back</button></a>
  <h2 class="firstDiv" style="text-align: center;">
    <%= realname %> - People</h1>
      <% people.forEach((person)=> { %>
        <div style="">
          <% person.images.forEach((image)=> { %>
            <img style="height: 205px; margin-left: 20px; margin-top: 20px;" src="<%= image %>" alt="" width=300px />
            <% }) %>
              <br>
              <a href="/viewalbum/viewpeople/memo?person=<%=person.name%>&name=<%= albumName %>"><button
                  style="margin-left: 22px; font-family: 'Lobster';" class="secoundDiv">View <%= person.name %>
                    </button></a>

        </div>
        <% }) %>
</body>

</html>